.like_btn{
    margin-right:10px;
    font-size: 25px;
    margin-left: 0px;
    margin-top: 10px;
    
}

.comment_box{
    
}

.like_count{
   font-size: 30px;
    margin-top: -39px;
    margin-left: 100px;
}