.dropbtnnotification {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtnnotification:hover, .dropbtnnotification:focus {
    background-color: grey;
}

.dropdownnotification {
    position: relative;
    display: inline-block;
}

.dropdown-contentnotification {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contentnotification a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownnotification a:hover {background-color: #ddd;}

.shownotification {display: block;}