.user-img{
    border-radius: 50%;
}
.user-details{
position: relative;
    width: 50%;
    margin-left: 150px;
    margin-top: -65px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;
}
